#marginCheck{
    margin: 5px;
    text-align: right;
    background-color: #518a71;
}
#marginCheck:hover{
    background-color: #11C777;
}
.card{
    margin: 5px;
    background-color: #2B2E34;
    color: white; 
    border-color: lightgrey;
}

#card-to-scroll::-webkit-scrollbar{
    display: none;
}
p{
    margin-bottom: 0px;
}
#iconPrint{
    margin-left: 20px;
}

#checkboxNoLabel{
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

#border-button{
    border-radius: 100%;
}


#check-to-print{
    padding-left: 50px!important;
}
.card-body{
    padding:15px;
}