#address-list{
    height: 100x;
    width: 348px;
}

#address-list:hover{
    cursor: pointer;
}



#borderList{
    
    border-radius: 30px;
    padding: 50px;
    width: 450px;
    align-items: center;

}

#button-margin{
    margin-top: 20px;
}


.address-selected{
    background-color: lightgray !important;
    color:#000;
}

.delete-address{
    border: 0;
    background-color: transparent;
}


.buttonColors{
    color: #F92438;
}
.buttonColors:hover {
    color: #FF4F4F ;
}

#button1{
    border: 0;
    background-color: transparent;
}
#button2{
    background-color: transparent;
    border:0;
}
#button3{
    background-color: transparent;
    border:0;
}

.col-lg-4{
    padding-left: 32px;
}
