.textStrong{
    font-weight: 700;
    font-size: small;
}
#card-complete{
    overflow-y: scroll;
    padding: 0%;
}
#card-complete::-webkit-scrollbar {
    display: none;
}
.dataState{
    margin-bottom: 0px;
    
}

.padding-0{
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    height: 45px;
}

select {
    background: transparent;
    border: none;
 }
#orderTitle{
    font-size: 20px;
    padding: 10px;
}
.borderButton{
    align-items: right;
    margin-right: 5px;
}
.table{
    margin-bottom: 0px;
    color: white;
}

#lookOrder{
    background: transparent;
    border: none;
}
#lookOrderPadding{
    padding-top: 2px;
    padding-bottom: 2px;
}

#editIcon{
    margin-right: 8px;
}

#notPaidIcon{
    color:#11C777 ;
    cursor:pointer;
}

#background-alert { 
    position: fixed;
    background-color: rgba(128, 128, 128, 0.3);
    z-index: 3;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    }
    
#container-alert{
    position:absolute;
    background-color: white;
    margin-top: 40px;
    border-radius: 30px;
    min-width: 300px;
}

#background-print{
    position: fixed;
    background-color: rgba(128, 128, 128, 0.3);
    z-index: 3;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
}

#container-print{
    background-color: white;
    width: 80%;
    padding: 50px;
    overflow-y: scroll;
}
#container-print::-webkit-scrollbar {
    display: none;
}

#borderOrder{
    border-radius: 5px;
}

#card-complete{
    border: 0px;
    background-color: #2B2E34;
}

#borderState{
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: 5px;
    color: white;
}

.table{
    border-bottom: 0px;
}

.buttonColors:hover{
    background-color: #FF4F4F;
    color: #FFFFFF;
}
.buttonColors {
background-color: #F92438 ;
color: white;
}

.padding-top-bottom{
padding-top: 10px;
padding-bottom: 10px;
}


.color-red{
    background-color: #E74C3C;
    color:#FADBD8;
}
.color-yellow{
    background-color:#F39C12;
    color: #FDEBD0 ;
}
.color-green{
    background-color:#27AE60;
    color: #D5F5E3;

}
.spaceColorState{
    width: 100px;
    height: 30px;
    border-radius:100px;
    padding: 5px;
}

header{
    color: white;
}

#borderIcons{
    text-align: right;
    padding-top: 7px;
}

#stateProduction{
    font-weight: bold ;
    color: white;
}
option{
    background-color: #2B2E34;
}

#eyeOpened{
    color: white;
}
#eyeClosed{
    color: white;
}

.menu-tools{
    margin-top: 30px;
}

.back-green{
    background-color: #579b59 ;
}
.back-blue{
    background-color:#476797;
}
.back-dark{
    background-color: #2B2E34;
    border-color: lightgrey;
}
.back-white{
    background-color: whitesmoke;
}
.btnForm{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

#buttonColorsFilter{
    text-align: center;
}

#svg-shirt{
    height: 16px;
    width: 16px;
}

#input-search{
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    padding-left: 5%;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

input:focus{
    outline: none;
}

#aling-checks{
    text-align: right;
    width: 10px;
    text-align: left;
}

#check-clothes{
    display: inline-flex;
}

#check-stamp{
    display: inline-flex;
}

#state-stamp-production{
    max-width: 100px
}

.margin-top-5{
    margin-top: 4px;
}

.icon-container{
    display: inline-flex;
}