#lineborder1{
  margin: 0;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-size: 20px;
}

#initialText{
}
#hand-header{
  transform: rotate(180deg);
  color: yellow;
}

#return{
  color: #df0505;
  text-align: left;
}

#color-line{
  color: white;
}

.aling-top {
  text-align: right;
  margin-top:5px;
}

#colorPick {
border-radius: 100%;
}



.form-group div.row{
  margin-top: 5px;
}

.not-margin-top{
  margin-top: 0 !important;
  padding: 0px;
}
.height-35{
height: 28px;
}

.width-100{
  width:100% !important;
}

.margin-top-0{
margin-top: 0 !important;
}

#rojo {
  margin:2px 10px;
  height: 20px;
  width: 20px;
  background-color: #df0505;
  border-radius: 50%;
  display: inline-block;
  padding:0;
}

.finalizar {
  text-align: right;
  margin-top:5px;
}

.buttonCreateOrder{  
  text-align: right;
  margin-top:5px;
}

.padding-0 {
  padding-right: 2px;
}
.padding-1 {
  padding-left: 2px;
}

.padding-right-0{
padding-right: 0;
}

#observations{
  color:white;
}

.obs-text{
  text-align: left;
  padding: 6px 12px;
}

#lineborder{
  margin-bottom: 2px;
}

input.ng-invalid{
  border-left: 3px solid red;
}
select.ng-invalid{
  border-left: 3px solid red;
}
  

#replyUserData{
  border: 1px solid lightgrey !important;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

input[type=checkbox]:checked{
  background-color: #11C777;
}


.user-select-auto{
cursor:pointer;
}

li.user-select-auto:hover{
background-color: #98E0E5 ;
color:white;
border: 2px solid #A9CCE3 ;
}
#basic-search:active{
background-color:rgb(180, 173, 173) ;
cursor:pointer;
color:white;
}
#basic-search:hover{
  cursor:pointer;
}

#background-pop-up { 
position: fixed;
background-color: rgba(128, 128, 128, 0.3);
z-index: 3;
height: 100%;
width: 100%;
display:flex;
justify-content: center;
}

#container-pop-up{
position:absolute;
background-color: white;
margin-top: 40px;
border-radius: 30px;
}

#background-pop-up-address-list{
position: fixed;
background-color: rgba(128, 128, 128, 0.3);
z-index: 3;
height: 100%;
width: 100%;
display:flex;
justify-content: center;
}

#container-pop-up-address-list{
position:absolute;
background-color: white;
margin-top: 40px;
border-radius: 30px;
max-height: 428px;
}

#background-pop-up-confirmation{
  position: fixed;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 3;
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

#container-pop-up-confirmation{
  position:absolute;
  width: 400px;
}


#margin-top{
  margin-top: 0!important;
}

#checkAddresser{
  padding-top: 5px;
  padding-bottom: 5px;
}

#addAddress{
  margin-left: 5px;
  margin-right: 5px;
}


.buttonColorList{
  background-color: #2B2E34;
  color: white;
  border: solid 1px lightgrey;
}

.buttonColors{
  background-color: #F92438;
  color: #FFFFFF;
  border:0px;
  height: 38px;
}
.buttonColors:hover {
  background-color: #FF4F4F ;
  color: #FFFFFF;
  border:0px;
}

.borderButtonColor{
  color: #FFFFFF;
  background-color: #518a71;
}
.borderButtonColor:hover{
  color: #FFFFFF;
  background-color: #11C777;
}

.buttonColorsPay{
  background-color: #11C777;
  color: #FFFFFF;
}
.buttonColorsPay:hover {
  background-color: #11C777 ;
  color: #FFFFFF;
}



.buttonColorMain{
  background-color: #F92438;
  color:white;
  width: 100%;
  font-size: x-large;
}

.buttonColorMain:hover{
  background-color: #FF4F4F;
}

select{
  background-color: #2B2E34;
  color: white;
}


input{
  background-color: #2B2E34;
  color: white;
}



#bg-form-group{
  background-color: #2B2E34;
  color: white;
  padding: 12px;
  border-radius: 5px;
}

:disabled{
  background-color: #5a5b5c;
  color: white;
}

.input-group-append{
  border:0px !important;

}

textarea{
  background-color: #2B2E34;
  color: white;
}