.height-menu-item{
    height:42px;
    width: 42px;
    padding: 8px 8px;
    color: white;
}

#options{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

}
.accordion-button::after{
    margin: auto;
    transform: rotateZ(100deg);
}


#menuOptions{
    color:white;
}

#buttonOpen{
    color:white;
}

#buttonClose{
    color: white;
}

.bg-items{
    background-color: #2B2E34;
    color: white;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}
.bg-items:hover{
    background-color: #434447;
    color: white;
    border-bottom: solid 1px lightgrey;
}

