<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
</nav>


<div class="col-lg-10 col-md-10 col-sm-12"> 
        <div class="card" >
          <div  class="panel-group" >
            <div class="panel panel-default" >
              <div> 
                <table class="table">
                  <thead>
                    <tr >
                        <th class="col-lg-1">Id</th>
                        <th class="col-lg-2">Producto</th>
                        <th class="col-lg-2">Color</th>
                        <th class="col-lg-1">Talla</th>
                        <th class="col-lg-1">Genero</th>
                        <th class="col-lg-1">Entrada</th>
                        <th class="col-lg-1">Salida</th>
                        <th class="col-lg-1"> Stock</th>
                        <th class="col-lg-2">Última modificación</th>
                    </tr>
                  </thead>
                </table>
              </div>  
              <table class="table">
                <tbody>
                    <tr>
                        <td class="col-lg-1">1</td>
                        <td class="col-lg-2">Buzo Capotero</td>
                        <td class="col-lg-2">
                            <tr>
                                <td>Azul</td>
                            </tr>
                            <tr>
                                <td>Azul</td>
                            </tr>
                            <tr>
                                <td>Azul</td>
                            </tr>
                        </td>
                        <td class="col-lg-1">
                            <tr>
                                <td>S</td>
                            </tr>
                            <tr>
                                <td>M</td>
                            </tr>
                            <tr>
                                <td>L</td>
                            </tr>
                        </td>
                        <td class="col-lg-1">
                            <tr>
                                <td>M</td>
                            </tr>
                            <tr>
                                <td>F</td>
                            </tr>
                        </td>
                        <td class="col-lg-1">3</td>
                        <td class="col-lg-1">2</td>
                        <td class="col-lg-1">1</td>
                        <td class="col-lg-2">23/11/2021 23:00</td>
                    </tr>
                    
                    <tr>
                        <td class="col-lg-1">1</td>
                        <td class="col-lg-2">Buzo Capotero</td>
                        <td class="col-lg-2">
                            <tr>
                                <td>Azul</td>
                            </tr>
                            <tr>
                                <td>Azul</td>
                            </tr>
                            <tr>
                                <td>Azul</td>
                            </tr>
                        </td>
                        <td class="col-lg-1">
                            <tr>
                                <td>S</td>
                            </tr>
                            <tr>
                                <td>M</td>
                            </tr>
                            <tr>
                                <td>L</td>
                            </tr>
                        </td>
                        <td class="col-lg-1">
                            <tr>
                                <td>M</td>
                            </tr>
                            <tr>
                                <td>F</td>
                            </tr>
                        </td>
                        <td class="col-lg-1">3</td>
                        <td class="col-lg-1">2</td>
                        <td class="col-lg-1">1</td>
                        <td class="col-lg-2">23/11/2021 23:00</td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>  
        </div>
</div>
